/*
 *  Custom style for PIVX community slack invitation tool landing page.
 */

html,body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  background: #333; /*url(../images/bg.jpg) center top no-repeat;*/
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #891bb5;
}

/*** Header styling ***/

.header {
    display: flex;
    flex-direction: row;
    height: 68px;
    background: #000;
    color: #fff;
    border-bottom: 2px solid #555;

}

.header img,
.header .spacer {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    padding: 9px;
    justify-content: flex-start;
}
.header .spacer {
  justify-content: flex-end;
}

.header .logo {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background: url(../images/pivx_header.png) center no-repeat;
    background-size: contain;
}

/*** Content styling ***/

.content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.lang-select {
    display: flex;
    flex-direction: row;
}
.lang-select .title {
    justify-content: flex-start;
    padding: 3px;
    margin-right: 10px;
}
#locale-selector {
    margin-top: 5px;
}

.community-item {
    display: flex;
    flex-direction: row;

    max-width: 400px;
    margin: 0 auto;

    height: 60px;
    background: #555;
    color: white;

    margin-bottom: 2px;
}
.community-item input {
    justify-content: flex-start;
    margin-right: 15px;
    margin-top: 25px;
    margin-left: 15px;
}
.community-item .community-icon {
    height: 60px;
}
.community-item .community-icon img {
    margin: 4px;
    margin-top: 14px;
    width: 32px;
    height: 32px
}
.community-item .community-title {
    margin-left: 15px;
    line-height: 60px;
}

/*** Content styling ***/


.error {
    color: #FE7070;
    font-weight: 700;
    font-size: 25px;
}

a {
    color: #92BCF2;
    font-weight: 700;
}

a:visited,
a:hover {
    color: #7EB6FF;
}
