/*
 *  Custom style for PIVX community slack invitation tool landing page.
 *  To load this file: npm start YAML_FILE=sample.yaml STYLE_OVERRIDE=/css/style-pivx.css
 */
@import url('style.css');

/*** Header styling ***/
#wrapper,.main {
  width:100%;
}
.header {
    display: flex;
    flex-direction: row;
    height: 68px;
    margin-top:0;
    width:100%;
    background: #000;
    color: #fff;
    border-bottom: 2px solid #555;
}

.header img,
.header .spacer {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    padding: 9px;
}

.header .logo {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background: url(../images/pivx_header.png) center no-repeat;
    background-size: contain;
}

/*** Content styling ***/

.information {
  padding-top:0;
}
.community-item {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin: 0 auto;
    height: 60px;
    background: #555;
    color: white;
    margin-bottom: 2px;
}
.community-item input {
    justify-content: flex-start;
    margin-right: 15px;
    margin-top: 25px;
    margin-left: 15px;
}
.community-item .community-icon {
    height: 60px;
}
.community-item .community-icon img {
    margin: 4px;
    margin-top: 14px;
    width: 32px;
    height: 32px
}
.community-item .community-title {
    margin-left: 15px;
    line-height: 60px;
}

.input-group {
  position:relative;
  width:350px;
  margin:20px auto 0 auto;
}
.field {
  box-sizing:border-box;
  width:inherit;
}

#locale-selector, #slack-email{
  /*display:flex;*/
  /*flex-direction: row;*/
  /*margin:0 auto;
  margin-top: 5px;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #222;
  border: none;
  height: 34px;
  padding: 5px;
  width: 400px;
  color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;*/
}

.lang-select {
  margin:0 auto;
  width:400px;
	 /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
	 /*overflow: hidden;*/
   /*height: 34px;*/
   /*width: 240px;*/
	 /*background-color: #ddd;*/
	 /*-webkit-border-radius: 20px;*/
 	 /*-moz-border-radius: 20px;*/
 	 /*border-radius: 20px;*/
	 /*margin:0 auto 35px auto;*/
}

.lang-select label {
  color:#fff;
  margin-left:20px;
}
.lang-select select#locale-selector {
	 /*-webkit-appearance: none;*/
   /*-moz-appearance: none;*/
   /*appearance: none;*/
   /*background: transparent;*/
   /*background: #000;*/
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   display:block;
   margin:10px auto 10px auto;
   border: none;
   height: 34px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
	 color: #000;
	 border: 1px solid #ccc;
	 font-size: 16px;
}

.lang-select select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}
